.container {
  padding: 20px;
  font-family: sans-serif;
}

.table-section {
  margin-bottom: 30px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.devices-table {
  width: 100%;
  border-collapse: collapse;
}

.devices-table th,
.devices-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.devices-table th {
  background-color: #f2f2f2;
}

.table-header button,
.devices-table button {
  padding: 6px 12px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.table-header button:hover,
.devices-table button:hover {
  background-color: #0056b3;
}

.disconnect-btn{
  margin-left: 1rem;
  background-color: #ff0000!important;
}

.monitor-btn{
  background-color: #15ff00!important;
  color: black!important;
  border: 1px solid black!important;
}

.normal-btn{
  margin-left: 1rem;
}